<div class="list" style="margin-bottom: 5px 0;">
  <div>
    <%= list.name %>
  </div>
  <div id="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="<%= list.id %>" style="width: 140px; height: auto; min-height: 90px; padding: 5px; border-radius: 10px; background-color: #AAAAAA;">
    <!-- item 외 다른 element가 들어가면 안되나 봐요... -->
    <!--
  <div id="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="<%#= list.id %>" style="width: 140px; height: auto; min-height: 90px; padding: 5px; border-radius: 10px; background-color: #AAAAAA; position: relative; z-index: -2;">
    <div style="position: absolute; z-index: -1; left: 50%; top: 50%; transform: translate(-50%, -50%); color: white;">
      <%#= list.name %>
    </div>
    -->
    <% list.items.rank(:row_order).each do |item| %>
      <%= render item %>
    <% end %>
  </div><!-- items -->
</div><!-- list -->
