<div id="<%= dom_id list %>">
  <p>
    <strong>List:</strong>
    <%#= list.id %>
    <%= list.name %>
    <%#= list.row_order %>
  </p>

  <div id="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="<%= list.id %>" style="height: 200px;">
    <% list.items.rank(:row_order).each do |item| %>
      <!--<li data-sortable-id="<%#= item.id %>">-->
      <!-- <div data-sortable-update-url="<%#= sort_item_path(item) %>">-->
        <%= render item %>
    <% end %>
  </div>

</div>
