<div class="list" style="margin: 10px 0;">
  <div id="items" data-controller="sortable" data-sortable-group-value="items" data-sortable-item-list-id="<%= list.id %>" style="width: 140px; height: auto; min-height: 90px; padding: 5px; border-radius: 10px; background-color: #dedede;">
    <% list.items.rank(:row_order).each do |item| %>
      <%= render item %>
    <% end %>
  </div><!-- items -->
</div><!-- list -->
