  <% i = 0 %>
  <div class="row row-cols-5 mt-1" style="display:flex; justify-content: center;">
    <% Time.zone.today.all_week.reject{|day| day.saturday? || day.sunday? }.each do |day| %>
      <div class="col day" style="width: 340px; border-style: solid; border-width: 1px; border-color: blue; text-align:center;">
        <div class="row" style="text-align: center;">
          <h3>
            <% if day.today? %>
              <%= day.month.to_s + "월 " + day.day.to_s + "일  " + day.strftime("%a")%><span style="color: red;">  오늘</span>
            <% else %>
              <%= day.month.to_s + "월 " + day.day.to_s + "일  " + day.strftime("%a") %>
            <% end %>
          </h3>
        </div><!-- row -->

        <div class="row row-cols-2">
          <div class="col floor3" style="text-align: center;">
            <h5>3층</h5>
            <% @schedule[i].each do |list| %>
              <%= render list %>
            <% end %>
          </div><!-- col floor3 -->

          <div class="col floor4" style="text-align: center;">
            <h5>4층</h5>
            <% @schedule[i+1].each do |list| %>
              <%= render list %>
            <% end %>
          </div><!-- col floor4 -->
        </div><!-- row row-cols-2 -->
      </div><!-- col day -->

      <% i+=2 %>
    <% end %>
  </div> <!-- row row-cols-5 -->

