<%= turbo_frame_tag :modal do %>
  <div data-controller="modals">
    <div class="modal-custom" data-action="turbo:submit-end->modals#submitEnd">
      <%= render "form", item: @item %>
    </div>
  </div>
<% end %>
